<?xml version="1.0" encoding="UTF-8"?>
<!--
 This file is part of the sshilko/php-sql-mydb package.

 (c) Sergei Shilko <contact@sshilko.com>

 MIT License

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

 @license https://opensource.org/licenses/mit-license.php MIT
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/9.5/phpunit.xsd"
         backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="phpunit.xml.bootstrap.php"
         cacheResult="true"
         cacheResultFile="tmp/phpunit-cache-result"
         colors="true"
         columns="60"
         convertDeprecationsToExceptions="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnDefect="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnWarning="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         failOnRisky="true"
         failOnWarning="true"
         defaultTimeLimit="5"
         testdox="true"
         noInteraction="false"
         forceCoversAnnotation="false"
         executionOrder="depends,defects"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="6"
         timeoutForLargeTests="11"
         enforceTimeLimit="true"
         beStrictAboutChangesToGlobalState="true"
         verbose="true">
    <!-- https://phpunit.readthedocs.io/en/9.5/configuration.html#the-phpunit-element -->
    <testsuites>
        <testsuite name="phpunit">
            <directory phpVersion="8.0.0" phpVersionOperator=">=">./phpunit</directory>
        </testsuite>
    </testsuites>

    <!-- https://phpunit.readthedocs.io/en/9.5/code-coverage-analysis.html -->
    <!-- https://phpunit.readthedocs.io/en/9.5/configuration.html#the-coverage-element -->
    <coverage cacheDirectory="./tmp/phpunit-coverage-cache-directory"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              disableCodeCoverageIgnore="false">
        <report>
            <clover outputFile="./tmp/phpunit-clover.xml" />
            <crap4j outputFile="./tmp/phpunit-crap4j.xml" />
            <cobertura outputFile="./tmp/phpunit-cobertura.xml" />
            <xml outputDirectory="./tmp/xml" />
            <html outputDirectory="./tmp/html" lowUpperBound="50" highLowerBound="90"/>
            <text outputFile="./tmp/phpunit-coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
        </report>
        <include>
            <directory suffix=".php">../src</directory>
        </include>
    </coverage>

    <logging>
        <junit outputFile="tmp/phpunit-junit.xml"/>
        <testdoxText outputFile="tmp/phpunit-testdox-text.txt"/>
        <testdoxHtml outputFile="tmp/phpunit-testdox-html.html"/>
    </logging>

    <!--
    <listeners>
    </listeners>
    <extensions>
    </extensions>
    -->

    <php>
        <includePath>phpunit/base/</includePath>

        <const name="PHPUNIT_MYSQL_MYDB1_USER" value="test"/>
        <const name="PHPUNIT_MYSQL_MYDB1_PORT" value="3306"/>
        <const name="PHPUNIT_MYSQL_MYDB1_NAME" value="mydb"/>
        <const name="PHPUNIT_MYSQL_MYDB1_PASS" value="pass"/>
        <const name="PHPUNIT_MYSQL_ROOT_USER" value="root"/>
        <const name="PHPUNIT_MYSQL_ROOT_PASS" value="root"/>

        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="error_reporting" value="-1" />
        <ini name="intl.default_locale" value="en" />
        <ini name="intl.error_level" value="0" />
        <ini name="memory_limit" value="-1" />
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
